/* set width to be the entire page */
.w100 {
  width: 100%;
}
/* set header as flex, so it will apply to h1 and nav */
/* set positioing, background and color */
/* set z-index to force header to display at top */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background: rgb(37, 37, 37);
  flex: 0, 0, 100%;
    /* z-index: 1000; */
}

/* set colors, padding and margins */
header h1 {
  background-color: #a3f1ee;
  color: #36383a;
  font-size: 2.5em;
  padding: 5px 10px 5px 50px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: auto;
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
 }

/* set margin, font size */
header nav {
  margin-right: 85px;
  font-size: 1.3em;
}

/* set nav ul as flex, so it will apply to li */
/* align items */
nav ul {
  display: flex;
  flex-wrap: wrap;
  flex: 1, 1, 50px;
}

/* set margin and border  */
nav li {
  margin: 5px;
  border-bottom: thick solid #a3f1ee;
}

/* display block and set colour, padding */
nav a {
  display: block;
  color: #a3f1ee;
  text-align: left;
  padding: 0.5em 1em;
}

/* to show all borders when list item is active */
nav a:focus {
  border: thick solid #a3f1ee
}

/* change display of list items when hovered over */
nav a:hover {  
  background: #696b6d;
  font-weight: bolder;
}

/* set class as flex, so it will apply to h2 */
/* set background and positioning */
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url("./assets/images/banner.PNG");
  height: 150px;
} 
.banner h2 {
  height: 35px;
  width: max-content;
  background-color: #a3f1ee;
  color: #36383a;
  font-size: 1.5em;
  font-style: italic;
  padding: 5px 10px;
  margin-right: 85px;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
/* set class as flex, so it will apply to div and articles*/
.section {
  margin-right: 85px;
  margin-top: 20px;
  padding-left: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
 }

/* position wording to the right of avatar */
/* set as flex, so it will apply to img and h2 */
.section h2 {
  width: 220px;
  font-size: 2.5em;
  text-align: right;
  margin: 30px;
  padding: 5px;
  border-right: thick solid #244668;
}

h2 span::before {
  content: "\a";
  white-space: pre;
}

.section div {
  width: 900px;
}

p {
  line-height: 1.2;
  margin-top: 5px;
  height: min-content;
  margin-bottom: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 85px;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  border: 4px solid #86b9e9;
  margin: 5px;
}

h3 {
  background-color: #a3f1ee;
  margin-bottom: 10px;
}

h3 span {
  font-weight: lighter;
  font-size: smaller;
}

h3 span::before {
  content: "\a";
  white-space: pre;
}

h3:hover {
  background-color: purple;
}

.major {
  background-image: url("./assets/images/surf.bmp");
  width: 100%;
  height: 400px;
}

.minor {
  width: 48%;
  height: 120px;
}

#minor1 {
  background-image: url("./assets/images/led.PNG");
}

#minor2 {
  background-image: url("./assets/images/calculator.PNG");
}

#minor3 {
    background-image: url("./assets/images/puzzle.PNG");
}

#minor4 {
 background-image: url("./assets/images/runbuddy.PNG");
}
/* set margin, font size */

#contact nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.3em;
  width: 70%
}

/* set nav ul as flex, so it will apply to li */
/* align items */
#contact nav ul { 
  /* border: 6px solid red; */
  display: flex; */
  flex-wrap: wrap; */
  justify-content: right;
  align-items: center;
}    
/* set margin and border  */
#contact nav li {
  margin: 30px;
  border-bottom: thick solid #36383a;
}

/* display block and set colour, padding */
#contact nav a {
  display: block;
  color: #a3f1ee;
  text-align: left;
  padding: 5px 5px;
}
