.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    background-color:cyan;
    color:darkblue;
    }
h1 {
    font-size: 48px;
}

.main-header ul {
display:flex;
margin: 0;
padding: 50px;
}
.subtitle {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    border-top: thistle;
    border-radius: 2%;
    background-image: url();

}        
.subtitle p {
    font-style: italic;
    font-size: 48px;
    color: rgb(37, 19, 19);
}
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

